@model Shopvelo.Models.Bake

    <form method="post" style="text-align:center">
        <div>
            <label for="name">Name</label>
            <p></p>
            <input id="name" type="text" style="width:300px" name="Name"/>
        </div>
        <div>
            <label for="model">Model</label>
            <p></p>
            <input id="model" type="text" style="width:300px" name="Model" />
        </div>
        <div>
            <label for="color">Color</label>
            <p></p>
            <input id="color" type="text" style="width:300px" name="Color" />
        </div>
        
        <div>
            <label for="price">Price</label>
            <p></p>
            <input id="price" type="text" style="width:300px" name="Price"/>
        </div>
        <div>
            <label for="foto">Foto</label>
            <p></p>
            <input id="foto" type="text" style="width:300px" name="Foto"/>
        </div>
        <p></p>
        <input type="submit" value="Save" style="width:300px; background-color:chocolate" />
    </form> 